x = pi
function f(x)
    sin(x)+cos(x)
end
y = 2.71828^(pi*(0.0+1.0im))
function minusone(y)
    round(y)
end
if (f(x) == minusone(y))
    println("It´s the same")
else 
    println("It´s not the same")
end

